*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}



:root{
    --headerAndFooter: rgb(27, 98, 204);
}

#main-grid-layout{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);

}
/* HEADER SECTION START */
#header-wrapper{
    grid-column: 1/5;
}
.header{
    background-color: var(--headerAndFooter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 40px 10px 40px;
}

.header-title{
    font-size: 3.5rem;
}

.account-info-container{
    text-align: center;
    display: flex;
    align-items: center;
}

.account-icon{
    display: block;
    height: 35px;
    padding-right: 5px;
}

.header h4 {
    white-space: nowrap;
}
/* HEADER SECTION END */

/* SIDEBAR SECTION START */
#sidebar-wrapper{
    grid-column: 1/2;
    background-color: #e3dfdf;
    color: black;     
    min-height: 80vh;
    padding: 20px 5px 20px 20px;
    width: 75%;
}

.sidebarHeading{
    text-align: center;
    margin-bottom: 20px;
}
.sidebar-tab{
    display: flex;
    align-items: center;
    cursor: pointer; 
    width: 50%;
    margin-bottom: 20px;
}
.sidebar-tab-icon, .newProjectIcon{
    display: block;
    height: 25px;
    padding-right: 5px;
    cursor: pointer; 
}

#userProjectSection{
    overflow-y: auto;
    
    max-height: 200px;
}

#userProjectSection::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.userProjectItem{   
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.projectFormContainer{
    display: flex;
    flex-direction: column;
}

.iconSpanContainer{
    display: flex;
    align-items: center;
}
/* SIDEBAR SECTION END */


/* MAIN PROJECT SECTION START */
#project-wrapper{
    grid-column: 2/5;
    padding: 20px;
}

.task-container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.trash-task-icon{
    height: 25px;
    padding-right: 5px;
    cursor: pointer; 
}

.new-task-template{
    width: 50%;
    margin: auto;
} 
.new-task-template input{
    display: block;
}

/* MAIN PROJECT SECTION END */

/* SIDEBAR SECTION END */

/* FOOTER SECTION */
#footer-wrapper{
    grid-column: 1/5;
}
.footer-container{
    background-color: var(--headerAndFooter);
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
  }
  .gitLink {
    text-decoration: none;
  }
  
  .gitLink:hover{
    color: blue;
  }
  