*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#main-grid-layout{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    
}


/* HEADER SECTION START */
#header-wrapper{
    grid-column: 1/5;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
}
.leftSubSection, .rightSubSection{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
}
.listifyIcon, .userProfileIcon{
    display: block;
    height: 40px;
    margin-right: 10px;

}
#current-user-name{
    font-size: 1.2rem;
}
/* HEADER SECTION END */


/* SIDEBAR SECTION START */
#sidebar-wrapper{
    grid-column: 1/2;
    padding: 10px;
    height: 87vh;
    overflow-y: auto;
    border: 1px solid gray;
}
/* width */
#sidebar-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
#sidebar-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
#sidebar-wrapper ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}
  /* Handle on hover */
#sidebar-wrapper::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.tabItemContainer, .newProjectButton{
    display: flex;
    cursor: pointer;
    padding: 10px 0 10px 15px;
}
.sidebarTabViewIcon{
    display: block;
    height: 20px;
    margin-right: 10px;
}

.projectFormContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.projectFormButtonContainer{
    margin: 3px auto 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.newProjectSaveButton, .newProjectCancelButton{
    border: none;
}
.newProjectSaveButton{
    background-color: rgb(8, 244, 8);
}
.newProjectCancelButton{
    background-color: red;
}
.editDeleteWrapper{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.errorMessage::placeholder{
    color: red;
}

.projectSidebarItemWrapper{
    /* This is for each new project tab that is created by the user */
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.hideProjectTitle{
    display: none;
}

.disableProjectManipulation{
    pointer-events: none;
}

.disableSideBarItem{
    pointer-events: none;
}

.enable{
    pointer-events: auto;
}

/* SIDEBAR SECTION END */




/* CENTRAL VIEW SECTION START */
#current-view-wrapper{
    grid-column: 2/5;
    border: 1px solid gray;
    padding: 20px;
   
}

.currentViewHeadingWrapper{
    font-size: 50px;
    border-bottom: 1px solid black;
    width: max-content;
    margin: 0 auto 40px auto;

}
.newTaskButton{
    display: flex;
    width: max-content;
    cursor: pointer;
}

.formSubSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formSubSection input, textarea{
    border: 1px solid blue;
    border-radius: 50px;
    padding: 5px;
}
.newTaskButtonWrapper{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.prettyTaskContainer{
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-top: 15px;
}
#task-checkbox-complete{
    border-radius: 100%;
}
.taskInfoWrapper{
    width: 50%;
}
.taskDueDateWrapper{
    display: flex;
    align-items: center;
    padding: 3px;
    border: .3px solid black;
    width: 100px;
    justify-content: center;
}
.favEditDeleteTaskWrapper{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.taskCompleteStrike{
    text-decoration: line-through;
}

.disableTaskContainer{
    pointer-events: none;
}

/* CENTRAL VIEW SECTION END */


/* Edit task form CSS */

.editTaskForm, .newTaskForm{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 300px;
    border: 1px solid;
    box-shadow: 2px 5px 12px rgb(80, 105, 228);
    background-color: aliceblue;
    padding: 10px;
    pointer-events: auto;
}

/* FOOTER SECTION START*/
#footer-wrapper{
    grid-column: 1/5;
    text-align: center;
    border: 1px solid gray;
}
/* FOOTER SECTION END*/



/* DARK MODE CSS */