*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root{
    --headerAndFooter: rgb(27, 98, 204);
}

#main-grid-layout{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);

}
/* HEADER SECTION START */
#header-wrapper{
    grid-column: 1/5;
}
.header{
    background-color: var(--headerAndFooter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 40px 10px 40px;
}

.header-title{
    font-size: 3.5rem;
}

.account-info-container{
    text-align: center;
    display: flex;
    align-items: center;
}

.account-icon{
    display: block;
    height: 35px;
    padding-right: 5px;
}

.header h4 {
    white-space: nowrap;
}
/* HEADER SECTION END */

/* SIDEBAR SECTION START */
#sidebar-wrapper{
    grid-column: 1/2;
    background-color: #b6b5b5;
    color: black;     
    min-height: 80vh;
    padding: 20px;
}

.sidebarHeading{
    text-align: center;
    margin-bottom: 20px;
}
.sidebar-tab{
    display: flex;
    align-items: center;
    cursor: pointer; 
    width: max-content;
    margin-bottom: 20px;
}
.sidebar-tab-icon, .newProjectIcon{
    display: block;
    height: 25px;
    padding-right: 5px;
    cursor: pointer; 
}

/* SIDEBAR SECTION END */


/* MAIN PROJECT SECTION START */
#project-wrapper{
    grid-column: 2/5;
}



/* MAIN PROJECT SECTION END */

/* SIDEBAR SECTION END */

.addTaskButton{
    position: absolute;
    right: 20px;
    top: 75vh;
    border: none;
    background-color: transparent;
}

.addTaskImage{
    position: absolute;
    right: 0;
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: .5px solid black;
    cursor: pointer;
    margin: auto;
}

/* CSS */
.addTaskImage {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: none;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

.addTaskImage:active {
  top: 5px;
  left: 5px;
}


/* FOOTER SECTION */
#footer-wrapper{
    grid-column: 1/5;
}
.footer-container{
    background-color: var(--headerAndFooter);
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
    height: 84.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
  }
  .gitLink {
    text-decoration: none;
  }
  
  .gitLink:hover{
    color: blue;
  }
  